.container{
    display: flex;
    justify-content: space-between;
    background-color: burlywood;
    padding: 20px;
}
.list{
    list-style: none;
}
.link{
    text-decoration: none;
    background-color: cadetblue;
    padding: 10px;
    border-radius: 10px;
    color:chocolate ;
}
.link:hover{
    color:cornsilk;
    background-color: darkgray;
}